html,
body {
  background: black;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title,
#description {
  color: lime;
  justify-content: center;
}

svg {
  background-color: black;
}

#canvas {
  min-width: 1000px;
  min-height: 600px;
}
#tooltip {
  visibility: hidden;
  color: lime;
}
